body {
  background-color: #EEEEEE;
  margin: 0px;
  padding: 0px;
}

.album_item{
  /*width: 100px;
  height: 100px;
  float: left;
  margin: 10px;*/
  width: 10vw;
  height: 15vh;
  border: 1px solid black;
  display: inline-block;
  margin: 0px 35px 0px 50px;
}

#top {
  width: 110vw;
  height: 25vh;
  background-color: #9B9B8C;
  border: 1px solid;
  color: white;
}

h1{
  text-align: center;
  font-size: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 150px 647px 0px 0px;
  text-overflow: hidden;
}

#container {
  margin: 35px -98px -99px 162px;
}

#scrollbar {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
}

#textarea{
  text-align: center;
  border: solid 2px;
  /*margin: 279px 26px 65px 80px;*/
  /*position: relative;*/
  width: 80vw;
  height: 32vh;
  font-size: 30px;
  margin: 279px 0px 65px 161px;
  position: relative;
  font-family: "Arial Black", Gadget, sans-serif;
  overflow: scroll;
}

#clear_butt{
  background-color: #353526;
  color: #CBCBC8;
  font-size: 20px;
  text-align: center;
  padding: 8px 50px;
  border-radius: 8px;
  position: relative;;
  margin: 0px 0px 100px 163px;
  font-family: "Arial Black", Gadget, sans-serif;
;

}

#submit_butt{
  background-color: #353526;
  color: #CBCBC8;
  font-size: 20px;
  text-align: center;
  padding: 8px 50px;
  border-radius: 8px;
  position: absolute;
  margin: 0px 0px 0px 20px;
  font-family: "Arial Black", Gadget, sans-serif;
}


.bottom{
  width: 110vw;
  height: 10vh;
  background-color: #686859;
  margin: 10px 0px 0px 0px;
  /*position: */
}


footer {
  font-size: 50px;
  color: white;
  margin-left: 10px 0px 0px 0px;
  position: absolute;
}
